[hytrel]
hidden_size=1024
intermediate_size=4096
num_attention_heads=16
num_hidden_layers=12

[gformer]
strategy=v3

num_query_tokens=32
model_name_or_path="FacebookAI/roberta-base"

freeze_encoder=False
model_finetuning_type="full"

ckpt_path=new-outputs/data/llm_based_pretraining/hytrel/gformer_llm_based_pretraining.cfg/checkpoint-90000/gformer.bin

[llm]
model_name_or_path="mistralai/Mistral-7B-Instruct-v0.2"

attn_implementation="flash_attention_2"

finetuning_type="lora"
target_modules=q_proj,k_proj,v_proj,o_proj
r=32
lora_alpha=64
lora_dropout=0

# ckpt_path=
